body {
  font-family: 'Segoe UI', sans-serif;
  padding-top: 70px;
  /* background-color: #d8fcb3; */
  background-color: #a9cba6;
}

h1, h2, h5 {
  font-weight: bold;
}

.navbar-custom {
  background-color: #f7f0ba !important;  /* tu color5 */
}


.navbar {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

.navbar-brand {
  font-weight: bold;
}

.card img {
  height: 240px;
  object-fit: cover;
}

#productos-container .card {
  transition: transform 0.2s;
}

#productos-container .card:hover {
  transform: scale(1.02);
}

.offcanvas-body img {
  max-width: 64px;
  max-height: 64px;
  object-fit: cover;
}

.offcanvas-body h6 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

#carrito-total {
  background-color: #ededed;
  padding: 10px;
  border-radius: 5px;
}

#carrito-total span:last-child {
  color: #212529;
}

.btn-outline-danger {
  font-size: 0.9rem;
}

.btn-success {
  min-width: 160px;
}

#detalle-producto img {
  max-height: 500px;
  object-fit: contain;
  margin-bottom: 1rem;
}

#catalogo h2 {
  margin-top: 1rem;
}

#orden-filtros {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}


#orden-filtros select {
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#orden-filtros button {
  padding: 6px 14px;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#orden-filtros button:hover {
  background-color: #0b5ed7;
}

#hero {
  background-image: url('https://portal.andina.pe/EDPfotografia3/Thumbnail/2025/01/04/001131732W.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  padding: 100px 0;
  position: relative;
}


.btn-categoria {
  background-color: #e0dba4;      /* color3: amarillo */
  color: #212529;
  border: 1.5px solid #fa2e59;      /* color1: rosa fuerte */
  font-weight: 500;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 10px;
}

.btn-categoria:hover {
  background-color: #fa2e59;      /* color1: rosa fuerte */
  color: white;
  border-color: #fa2e59;
}
